.layout-wrapper {
  width: 100%;
  max-width: 600px;      
   
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-primary);
  position: relative;

  /* luft runtom */
  padding: 2rem;

  /* centrera på sidan */
  margin: 0rem auto;

  display: flex;
  flex-direction: column;

  gap: 1rem;              /* jämn spacing mellan element */
  border-radius: 8px;     /* mjuka hörn så det inte ser "kantigt" ut */
}
