@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Mulish:wght@400;600&display=swap');

:root {
  --font-title: 'Nunito', sans-serif;
  --font-body: 'Mulish', sans-serif;
}

h1, h2, button {
  font-family: var(--font-title);
}

p, input {
  font-family: var(--font-body);
}




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #D84040;
  --color-card: #A31D1D;
  
  --color-text: #ECDCBF;
  --color-muted: #F8F2DE;

 

 
  
}

html, body, #root {
  height: 100%;
  width: 100%;
  
  overflow-x: auto;   /* tillåter scroll istället för att krympa */
}

body {
  margin: 0;
  background: var(--color-bg); /* bakgrund utanför appen */
  
  display: flex;
  justify-content: center;
}



